In [1]:
import pandas as pd
from pandas_datareader import data
import os
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')
from datetime import datetime

ModuleNotFoundError: No module named 'pandas_datareader'

In [92]:
def create_new_training_model(n):
    stock_data = pd.read_csv(os.getcwd() + "/Stock_Data/TSLA.csv")
    stock_data['Increase'] = 0
    new_stock_info = pd.DataFrame(columns = stock_data.columns)
    for i in range(0, len(stock_data)-n, n):
        start = stock_data.iloc[i].Close
        end = stock_data.iloc[i+n].Close
        
        if((end-start) > 0):
            for j in range(i,i+n):
                stock_data.set_value(j, 'Increase', 1)
        new_stock_info = new_stock_info.append(stock_data.iloc[i])
    new_stock_info.to_csv("TSLA_Training_Data.csv")            
    return new_stock_info
    

def get_interval_increase(day, n):
    for i in range(0, len(stock_data)-n, n):
        start_date = datetime.strptime(stock_data.iloc[i].Date, '%Y-%m-%d')
        end_date = datetime.strptime(stock_data.iloc[i+n].Date, '%Y-%m-%d')
        if start_date <= day <= end_date:
            return stock_data.iloc[i].Increase

stock_data = create_new_training_model(10)
print(get_interval_increase(datetime(2011, 3, 8), 10))
stock_data.head(22)

1

,Date,Open,High,Low,Close,Adj Close,Volume,Increase
0,2010-06-29,19.000000,25.000000,17.540001,23.889999,23.889999,18766300,0
10,2010-07-14,17.940001,20.150000,17.760000,19.840000,19.840000,4195200,1
20,2010-07-28,20.549999,20.900000,20.510000,20.719999,20.719999,467200,0
30,2010-08-11,18.690001,18.879999,17.850000,17.900000,17.900000,797600,1
40,2010-08-25,19.160000,19.980000,18.559999,19.900000,19.900000,503300,1
50,2010-09-09,21.000000,21.049999,20.690001,20.709999,20.709999,376200,0
60,2010-09-23,19.889999,20.139999,19.500000,19.559999,19.559999,668100,1
70,2010-10-07,20.570000,20.639999,20.340000,20.430000,20.430000,141000,1
80,2010-10-21,20.610001,20.950001,20.450001,20.750000,20.750000,417100,1
90,2010-11-04,22.600000,25.330000,22.150000,24.900000,24.900000,1874000,1
100,2010-11-18,30.670000,30.740000,28.920000,29.889999,29.889999,956100,1
110,2010-12-03,32.009998,32.250000,30.870001,31.490000,31.490000,1160100,0
120,2010-12-17,31.340000,31.540001,30.709999,31.360001,31.360001,813000,0
130,2011-01-03,26.840000,27.000000,25.900000,26.620001,26.620001,1283000,0
140,2011-01-18,25.480000,25.639999,24.750000,25.639999,25.639999,1621700,0
150,2011-02-01,24.309999,24.730000,23.540001,23.910000,23.910000,707800,0
160,2011-02-15,23.010000,23.170000,22.559999,22.840000,22.840000,953700,1
170,2011-03-02,23.820000,24.280001,23.730000,24.020000,24.020000,663300,0
180,2011-03-16,22.860001,23.250000,22.690001,22.820000,22.820000,1169700,1
190,2011-03-30,24.110001,24.490000,23.010000,23.709999,23.709999,1223300,1
200,2011-04-13,25.129999,25.690001,24.809999,24.930000,24.930000,1211500,1
210,2011-04-28,27.070000,27.690001,26.719999,27.660000,27.660000,1600000,1